/*
 description Emulador de una terminal y varias máquinas en red usando Javascript
 description Componente - Estilos CSS
 author Julián Esteban Gutiérrez Posada y Carlos Eduardo Gomez Montoya
 email jugutier@uniquindio.edu.co carloseg@uniquindio.edu.co
 licence GNU General Public License  Ver. 4.0 (GNU GPL v4)
 date Septiembre 2020
 version 1.0
*/

#consola {
    border: 5px solid #555;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px; 
    box-shadow: 0px 0px 20px 2.5px black;
    height: 300px;
    background-color: #000000;
    color: #00FF00;
    line-height: 20px;
    
    font-family: monospace;
    display: inline-block; 
    text-align: left; 
    width:100%;
    
    text-shadow: 0px 0px 15px #0d0;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #00FF00;
    font-family: monospace;
    font-size: 14px;
}